
  <h1 class="my-5 d-flex justify-content-center"><i class="fa-solid fa-house mr-1"></i>family_memories</h1>
  <div>
    <%= link_to events_path, style: "text-decoration:none;color:#cd5c5c" do %>
      <div class="mt-4 d-flex justify-content-center h1">
        <i class="fa-regular fa-address-book fa-8x"></i>
      </div>
      <div class="my-3 d-flex justify-content-center h5">
        Let's create more family memories..
      </div>
    <% end %>
  </div>
</div>

<% if member_signed_in? %>
  <% if current_member.name.present? %>
    <%= link_to 'カレンダーへ', events_path, class: "btn btn-lg btn-secondary" %>
  <% else %>
    <h3>最初に情報を入力してください</h3>
    <%= link_to "情報入力へ", edit_member_path(current_member), class: "btn btn-lg btn-warning" %>
  <% end %>
<% else %>
  <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
<% end %>
