<h1>family_memories</h1>
<i class="fa-solid fa-book-user"></i>


<% if member_signed_in? %>
  <% if current_member.name.present? %>
    <%= link_to 'カレンダー', members_path %>
  <% else %>
    <h3>最初に情報を入力してください</h3>
    <%= link_to "情報を入力", edit_member_path(current_member) %>
  <% end %>
<% else %>
  <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post %>
<% end %>